body{
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
    padding: 50px;
}
button{
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#reset {
    background: blue;
    color: white;
    margin-left: 10px;
}